<footer class="hero">
  <div class="hero-body has-text-centered">
    <div *ngIf="total > 0">
      <span class="course-count">
        <strong>{{total}}</strong> {{total == 1 ? 'curso' : 'cursos'}} disponíveis para você!</span>
      <hr />
    </div>
    <small>Construído com
      <span class="fa fa-heart has-text-danger"></span> por
      <a href="https://github.com/lhcgoncalves/eadbox-course">Luiz Gonçalves</a> para
      <a href="https://eadbox.com">EADBOX</a>
    </small>
  </div>
</footer>