<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="subtitle">Investimento</p>
          <p class="title" *ngIf="!course.is_paid">CURSO GRÁTIS</p>
          <p class="title" *ngIf="course.is_paid">{{course.price | currency:'BRL':true}}</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="subtitle">Carga horária</p>
          <p class="title">{{course.workload}} h/a</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="subtitle">Disponível</p>
          <p class="title">{{course.time_available ? "Faltam " + course.time_available + " dias" : 'SIM'}}</p>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="block-info set-border-left" *ngIf="course.description">
      <h1 class="title">Sobre o curso</h1>
      <p [innerHTML]="course.description"></p>
    </div>

    <div class="block-info set-border-right" *ngIf="course.objective">
      <h1 class="title">Objetivo(s)</h1>
      <p [innerHTML]="course.objective"></p>
    </div>

    <hr />

    <div class="columns">
      <div class="container">
        <div class="columns">
          <div class="column">
            <article class="media">
              <div class="media-left">
                <i class="fa fa-university fa-4x"></i>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Certificado</strong>
                    <br>
                    <span [innerHTML]="course.certification"></span>
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="column">
            <article class="media">
              <div class="media-left">
                <i class="fa fa-users fa-4x"></i>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Público-alvo</strong>
                    <br>
                    <span [innerHTML]="course.target_audience"></span>
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <article class="media">
      <div class="media-left">
        <i class="fa fa-sitemap fa-4x"></i>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Tópicos do curso</strong>
            <br>
            <span *ngFor="let topic of course.topics">
              <span class="tag">{{topic}}</span>
            </span>
          </p>
        </div>
      </div>
    </article>

  </div>
</section>

<course-lecture-list [lectures]="course.lectures"></course-lecture-list>