<section class="hero is-bold is-dark">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-three-quarters">
          <h1 class="title">
            {{ APP_NAME }}
          </h1>
          <h2 class="subtitle">
            Cursos on-line
          </h2>
        </div>
        <div class="column has-text-centered">
          <button class="button is-light is-medium is-outlined is-reverse is-fullwidth">
            CADASTRE-SE AGORA
          </button>
          <small>
            <span class="fa fa-lock"></span> Fácil, rápido e seguro</small>
        </div>
      </div>
    </div>
  </div>
</section>